* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* container */
.container {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(/img/beach.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(/img/golf.jpg);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url('/img/pohon.jpg');
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 3em;
    font-weight: 200;
}

/* Navigation */
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    order: -1;
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: white;
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
    font-size: 3em;
}

.service h3 {
    font-size: 1.5em;
}

.service p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}

/* Gallery */
.gallery {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    gap: 10px;
    margin-top: 10px;
}

.footer footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer footer a:hover {
    color: teal;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        display: block;
        background-color: white;
        color: black;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-toggle {
        display: flex;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: black;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        background-color: black;
        width: 41%;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    body {
        margin: 15px;
    }

    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2';
    }

    .footer {
        font-size: 0.8em;
    }
}